
<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<html>
<body>
	<div class="congrats">
		<p> CONGRATS! YOU ARE A REAL MOVIE LOVER! <p><br>
			<a href="http://localhost:4567">Take another quiz</a>


	</div>

</body>