

<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<html>
<body>
	<div class="img_wrapper">
		<form action="/search_keyword" method="post" enctype="multipart/form-data">
			<label for:"file">Search for a movie:</label>
		  <input type='text' name="keyword"><br>
		</form>
		<% if @movies != nil%>
			<% @movies.each do |movie,poster|  %>
				<form class="question_form" action="/answer" method="post" enctype="multipart/form-data">
					<div class="form_button_wrapper">
						<img src="<%=movie.poster%>" height="50px" width="50px">
						<input type="hidden" name="answer">
						<button type="submit">Select Movie</button>
					</div>
				</form>
				
				
			<% end %>

			
		<% end %>

	</div>
</body>