<h1>Below are my sencences, each time I refresh a new will show</h1>

<p><%= @phrase %></p>


<a href="/index"><button>Refresh</button></a>

<p>
	<form action="/input" method="post" enctype="multipart/form-data">
	<label for:"file">Sentence:</label>
	<input type='text' name='user_input'>
	</form>
</p>
<ul>
<% @array.each do  |item| %>
	<li><%= item %></li><button>Delete</button>
	<% end %>
</ul>



<!--
<form action="/input" method="post" enctype="multipart/form-data">
<button type="submit" name="name">Press To Refresh</button></form>

-->