
body {
	background: rgba(212, 217, 218, 0.12)
}
form {
	
    margin-bottom: 40px;
    font-size: 2em;
    font-family: monospace;
}

.img_wrapper {
	width: 100%;
	height: auto;
	text-align: center;
}

img {
	width: 280px;
	height: 280px;
	margin: 0 auto;
}

input {border: 2px solid black;
    width: 200px;
    height: 30px;}

.question_form {
	margin-top: 0;
	width: 130px;
	height: 150px;
	display: inline;
	text-align: center;
   }

button {
	background-color: #A2BDA8;
    border-radius: 10px;
    height: 30px;
    font-family: monospace;
}

.form_button_wrapper{
	height: 340px;
	width: 340px;
	position: relative;
    display: inline-block;
    margin: 0 auto;
}

#question {
	background: #8DA085;
	border: 2px solid black;
	margin-top: 60px;
    margin-bottom: 20px;
    margin-bottom: -20px;
    margin-bottom: 40px;
    font-size: 2em;
    font-family: monospace;
}


