
<p>Addition</p>

<form action="/input" method="post" enctype="multipart/form-data">
<label for:"file">Number 1:</label>
<input type='text' name='addition1'>


<form action="/input" method="post" enctype="multipart/form-data">
<label for:"file">Number 2:</label>
<input type='text' name='addition2'>
<button type="submit" name="addition">Add numbers!</button></form>
<p>Result:</p><%= @adding_result %>